<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${pageTitle}"></title>
  </head>
  <body>
    <table border="1">
      <thead>
        <th>firstName</th>
        <th>lastName</th>
        <th>email</th>
        <th>password</th>
      </thead>
      <tbody>
        <tr th:if="${!users.isEmpty()}" th:each="user: ${users}">
          <td th:text="${user.firstName}"></td>
          <td th:text="${user.lastName}"></td>
          <td th:text="${user.email}"></td>
          <td th:text="${user.password}"></td>
        </tr>
        <tr th:if="${users.isEmpty()}" colspan="4">
          <td>No users.</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>

